.hero-background{
    background-image: url('/images/mobile_bg.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
}